body {
    width: 750px;
    height: 800px;
    background-color: #eae7dc;
}
nav {
    position: fixed;
    top: 0;
}
.nav li {
    display: inline;
    padding: 0.5em;
}

.nav {
    color: white;
    font-family: monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    text-align: center;
    width: 230px;
    float: left;
    margin: 5px;
    padding:2.5px;
    background-color: black;
}

a:visited{
    color: white;
}
a:link {
    text-decoration: none;
  }
li:link {
    color:blue;
}
li:before {
    content: "\A";
}
li:after {
    content: "\A";
    white-space: pre;
}
li {
    list-style-type: none;
}

#allRecipes {
    margin-top: 40px;
}

#MVP2 {
    text-align: center;
	font: 60px Helvetica, Sans-Serif;
	letter-spacing: -5px;
    color: rgba(138, 138, 179, 0.5); 
   }

#MVP2:after {
	content: "All Recipes";
	position: absolute; left: 250px; top: 38px;
    color: rgba(255,0,0,0.5);   
   }
#ingredientsAllRecipes {
    width: 200px;
    float: right;
    margin-top: 5px;
    margin-left: 520px;
    margin-right: 25px;
    padding: 5px;
    background-color: #e98074;   
    position: fixed; 
}
#displayAllRecipes {
    width: 400px;
    height:400px;
    float: left;
    margin:5px;
    padding:50px;
    background-color: #8e8d8a;
    overflow: scroll;
}
#displayAllRecipes img {
    height: 120px;
    width: 100px;
    padding: 10px;
    border-radius: 10%;
}
